<div class="grid">
    <div class="card col-12">
        <h5>Dúvidas Frequentes</h5>
        <p-accordion>
            <p-accordionTab header="Como posso verificar as minhas apólices?" [selected]="true" class="line-height-3 m-0">
                Pode efetuar a verificação das suas apólices através da aba "Apólices" no menu lateral.
            </p-accordionTab>
            <p-accordionTab header="Como posso fazer um pedido de uma nova apólice?" class="line-height-3 m-0">
                Pode efetuar um pedido de nova apólice através da aba "Simulações" no menu lateral que poderá 
                estar escondido, para o revelar deve clicar na seta no canto superior esquerdo da página.
                
                Deve depois preencher o formulário, e quando estiver terminado clicar no botão "Submeter Pedido de Simulação".
            </p-accordionTab>
            <p-accordionTab header="Como posso verificar o meu nome?" class="line-height-3 m-0">
                O seu nome encontra-se escrito no menu na parte superior da página.
            </p-accordionTab>
            <p-accordionTab header="Como posso efeutar a alteração dos meus dados pessoais?" class="line-height-3 m-0">
                Através do menu superior da página pressionando no ícone de "Utilizador" terá a opção de verificar os seus
                dados pessoais.
            </p-accordionTab>
            <p-accordionTab header="Porque é que não consigo aceder a nenhuma página da aplicação?" class="line-height-3 m-0">
                Se apenas consegue aceder a esta página e à página de dados pessoais, é possível que algum dos seus dados 
                não esteja propriamente definido. 
                
                Defina os seus dados pessoais e em seguida puderá visitar o nosso website.
                
                Se o problema persistir, por favor contacte o nosso suporte.
            </p-accordionTab>
        </p-accordion>
    </div>
</div>